* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Gabarito", sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: solid black 1px;
    gap: 10px;
    flex-direction: row;
   
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;

}

.heading {
    color: #A435F0;
}

.section-two {
    border: solid black 1px;
    width: 80%;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;

}

.input-field {
    border: none;
    width: 100%;
    font-size: 15px;
    background-color: transparent;
}

.section-two input:focus {
    outline: none;
}

.section-three {
    display: flex;
    gap: 10px;
    align-items: center;
}
.section-four{
    display: none;
}
.Mylearnings{
    position: relative;
    cursor: pointer;
}
.Mylearning-popup{
    position:absolute;
    border:  solid black 1px;
    padding: 20px;
    background-color: white;
    color: black;
    right: 0px;
    top: 150%;
    width:100px;
    display: none;
}
.Mylearnings:hover .Mylearning-popup{
    display: block;
}

.categories {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-bottom: solid black 1px;
}

.categories p {
    background-color: #A435F0;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    border: solid #A435F0 1px;
}
.categories p:hover{
    color: black;
    transition: 1s;
    border: solid #A435F0 1px;
    color:black;
    background-color: transparent;
    
}
.saleimage{
    position: relative;
}
.saleimage-offerbanner{
    position: absolute;
    width: 35%;
    padding: 2%;
    border: solid black 2px;
    top: 25%;
    left: 10%;
    animation-name: saleimg;
     opacity: 0 ;
     animation-duration: 2s;
     animation-fill-mode: forwards;
}
@keyframes saleimg {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    100%{
        opacity: 1;
        transform: scale(1);
    }
    
    
}


.saleimage img {
    width: 100%;

}

.recommended {
    padding: 10px;
}


.coures-card {
    flex-basis: 22%;
    flex-grow: 1;
    margin-left: 10px;

}

.coures-card img {
    height: 70%;
    width: 100%;
}

.recommentation-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics{
    padding: 10px;
}
.topics-container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
   
}
.topics-container p{
    border: solid black 2px;
    padding: 10px;
    flex-basis: 25%;
    flex-grow: 1;
     margin: 10px;
    
}
.topics-container p
.mostpopular-container{
    padding: 10px;
   
}
.topics-container p:hover{
    background-color: black;
    color: white;
}
.mp-course{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    margin-top: 10px;
}
.footer{
    background-color: black;
    padding: 30px;
    color: white;
}
.footer-container{
    display:  flex;
    gap: 40px;
}
.footer-container p{
    margin: 20px;
}
.footer-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* media queries */
@media screen and (max-width:800px) {
    body{
        font-size: 10px;
    }
    
}
@media screen and (max-width:600px){
    .coures-card{
        flex-basis: 40%;
    }
     .categories{
        display: none;
    }
    .section-three ,.section-two{
        display: none;
    }
    .section-four{
        display: block;
    }
    
}



